GITHUB_CLIENT_ID=<client id of your github oauth app>
GITHUB_CLIENT_SECRET=<client secret of your github oauth app>
COOKIE_ENCRYPTION_KEY=<output of: openssl rand -hex 32>
ALLOWED_GITHUB_LOGINS=<your github username, comma separated for several>
